<%- include('header') %>
<main>
  <div class="container">
    <div class="lds-ring d-none" id="preloader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1 class="text-center mt-5 mb-5">👋 Welcome</h1>
  </div>
</main>
