<%- include('header') %>
<main>
  <div class="container">
    <div class="lds-ring d-none" id="preloader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1 class="text-center mt-5 mb-5"><%= pageTitle %></h1>

    <div class="list-group">
      <a href="/survey" class="list-group-item list-group-item-action">
        Onboarding survey
      </a>
      <a href="/click-history" class="list-group-item list-group-item-action">Onboarding data</a>
      <a href="/general-en" class="list-group-item list-group-item-action">General automation En</a>
      <a href="/general-es" class="list-group-item list-group-item-action">General automation Es</a>
      <a href="/course-es" class="list-group-item list-group-item-action">Course Es</a>
      <a href="/course-en" class="list-group-item list-group-item-action">Course En</a>
      <a href="/cleaning-bot" class="list-group-item list-group-item-action">Cleaning Bot</a>
      <a href="/course-es-2" class="list-group-item list-group-item-action">Curso: Cómo Abrir Una Empresa En Estonia</a>
      <a href="/crisp-en-automation" class="list-group-item list-group-item-action">Crisp ➡️ EN-Subscriber</a>
      <a href="/cart-aband" class="list-group-item list-group-item-action">Cart Abandonment</a>
      <a href="/c1-followup" class="list-group-item list-group-item-action">C1 Spain Sales Funnel Follow-Up</a>
      <a href="/c1-noshow" class="list-group-item list-group-item-action">C1 Spain Sales Funnel No-Show</a>
      <a href="/pdf-en" class="list-group-item list-group-item-action">PDF English</a>
      <a href="/pdf-es" class="list-group-item list-group-item-action">PDF Spanish</a>
      <a href="/cons-followup" class="list-group-item list-group-item-action">Consulting Sessions: Follow-Up</a>
      <a href="/cons-noshow" class="list-group-item list-group-item-action">Consulting Sessions: No Show</a>
    </div>

    
   
    
  </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/script.js"></script>
</body>
</html>